  <footer class="[ pagination ] [ dot-shadow panel ] [ bg-light-glare font-sans weight-bold ]">
    <div class="wrapper">
      <nav class="pagination__inner" aria-label="Pagination links">
          <a href="{ pagination.href.previous }{ paginationAnchor }" data-direction="backwards">
            <span></span>
          </a>
          <a href="{ pagination.href.next }{ paginationAnchor }" data-direction="forwards">
            <span></span>
          </a>
      </nav>
    </div>
  </footer>